.swipe-container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	@media (min-width: 601px) {
		height: calc(100% + -30px + -3em);
	}

	@media (max-width: 601px) {
		height: calc(100% + -20px + -2em);
		position: fixed;
		bottom: 0;
	}
	
	@media (max-width: 400px) {
		height: calc(100% + -20px + -1.5em);
	}
}