.profile-card-preview {
	background-color: #ffffff;

	.profile-body {
		
		background-color: #ffffff;
		color: #2c2c2c;
		// height: 1000px;

		.section {
			padding: 10px 16px;
		}

		hr {
			height: 1px;
			margin: -1px 0 0 0;
			border-width: 0;
			background-color: #e8e8e8;
		}

		h3 {
			margin: 0;
			font-weight: 700;
		}

		p {
			margin: 5px 0;
			color: #545454;

			&:first-child {
				margin-top: 10px;
			}

			&:last-child {
				margin-bottom: 10px;
			}
		}

		p.biography {
			white-space: pre-wrap;
		}

		.age {
			font-size: 0.85em;
			font-weight: 400;
			font-family: sans-serif;
		}

		.svg-inline--fa.fa-w-16 {
			width: 1.125em;

		}
	}
}