$background-color: #2e5dff;

.register-user {
	.register-user-body {
		background-color: $background-color;
		border: 0px solid;
		border-radius: 0.25em;
		padding: 20px;
		margin: 10px 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			padding: 5px;
			display: flex;
			flex-direction: row;

			* {
				font-weight: normal;
				line-height: 2.5;
			}

			> *:first-child {
				width: 60%;
			}

			> *:nth-child(2) {
				width: 40%;
				border-radius: 0.25em;

				* {
					width: 100%;
				}
			}

			div {
				display: flex;
				flex-direction: column;

				.passwords-match {
					height: 2em;
					font-size: 0.8em;
					padding: 0 0.25em;
					transition: opacity 200ms ease-in;
				}
			}

			input {
				background-color: #1e42c4;
				color: #FFFFFF;
				border: 0px solid;
				padding: 0 0.5em;
				box-sizing: border-box;
			}
		}
	}

	.register-button-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding: 10px 5px;

		button {
			background-color: #2da8ae;
			border: 0px solid;
			border-radius: 0.25em;
			padding: 0.5em 0.75em;
			font-size: 1.3em;
			color: #FFFFFF;
			font-weight: 600;
			cursor: pointer;
		}

		button:active {
			background-color: #30b7bd;
		}
	}
}