.register-user {
	padding: 1em;
	box-sizing: border-box;

	.register-user-inputs {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: repeat(2, minmax(150px, 1fr));

		.full-width {
			grid-column-start: 1;
			grid-column-end: end;
		}

		.first-name {
			grid-column-start: 1;
			grid-column-end: 1;
		}

		.last-name {
			grid-column-start: 2;
			grid-column-end: end;
		}

		@media (max-width: 601px) {
			.first-name, .last-name {
				grid-column-start: 1;
				grid-column-end: end;
			}
		}

		.password-strength-container {
			margin: 0 0.75em;
			position: relative;
			bottom: 6px;
		}
	}

	.register-user-body {
		border: 0px solid;
		border-radius: 0.25em;
		padding: 20px;
	}
}

.register-button-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: 10px 5px;
}