.login-user {
	padding: 1em;
	box-sizing: border-box;

	.login-inputs {
		display: flex;
		flex-direction: column;

		> *:first-child {
			margin-top: 1em;
		}

		> * {
			margin-bottom: 1em;
		}
	}

	.remember-me {
		width: max-content;
		display: flex;
		align-items: center;
		margin-left: 1.5em;

		.checkbox {
			margin-left: 1em;
		}
	}

	.login-button-container {
		display: flex;
		justify-content: space-between;

		.login-button {
			padding: 0.5em 0.75em;
			font-size: 1.3em;
			color: #FFFFFF;
			font-weight: 600;
			cursor: pointer;
		}
	}
}

