

.checkbox {
    transition: background-color ease-in-out 200ms;
    background-color: #16308b;
    cursor: pointer;
    width: 2.3em;
    height: 2.3em;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 100%;
        font-size: 1.5em;
        transition: opacity ease-in-out 200ms;
        display: block;
    }
}

.checkbox:hover {
    background-color: #0c2786;
}